.contactsDiv {
    background-color: rgb(231, 229, 229);
    display: grid;
    justify-content: center;
}
.contactsLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
